  <nav>
    <div class="nav-wrapper red accent-4">
      <a routerLink="/" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/page_2" >Page 2</a></li>
        <li><a routerLink="/page_3">Page 3</a></li>
        <li><a routerLink="/page_4">Page 4</a></li>
        <li><a routerLink="/page_5">Page 5</a></li>
        <li><a routerLink="/page_6">Page 6</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
            <div class="user-view">
            <div class="background">
              <img src="https://media.giphy.com/media/l1CC9tjkMt9MpKxzy/giphy.gif">
            </div>
            <a href="#!user"><img class="circle" src="https://media.giphy.com/media/l1CC9tjkMt9MpKxzy/giphy.gif"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a routerLink="/page_2">Page 2</a></li>
        <li><a routerLink="/page_3">Page 3</a></li>
        <li><a routerLink="/page_4">Page 4</a></li>
        <li><a routerLink="/page_5">Page 5</a></li>
        <li><a routerLink="/page_6">Page 6</a></li>
      </ul>
    </div>
  </nav>
         